/*@font-face {*/
/*    font-family: 'Pacifico';*/
/*    src: url("../font/Pacifico-Regular.ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: 'Montserrat-Regular';*/
/*    src: url("../font/Montserrat-Regular.ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: 'Montserrat-Bold';*/
/*    src: url("../font/Montserrat-Bold.ttf");*/
/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
}

.container {
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 50px;
}

.header {
    display: block;
}

header {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 2px solid #ddd;
}

.col-lg-4 {
    flex: 0 0 15.3846153846%;
}

.col-lg-20 {
    flex: 0 0 76.9230769231%
}

.col-lg-2 {
    flex: 0 0 7.6923076923%
}

.main-menu {
    justify-content: center;
    display: flex;
}

.main-menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo h1 {
    text-align: center;
    border: 2px solid black;
    margin: 20px 20px 20px 40px;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 700;
    letter-spacing: 7px;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 20px 30px 20px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #000000;
}

.header-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-right a {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.search-container {
    position: relative;
    width: 150px;
}


.search-container input {
    width: 100%;
    padding: 0;
    height: 30px;
    border-radius: 45px;
}

#search-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #d4d4d4;
    z-index: 99;
}

#search-items div {
    border-bottom: 1px solid #d4d4d4;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 16px;
}

#search-items div:hover {
    background-color: #d4d4d4;
    cursor: pointer;
}

#btn-search {
    padding: 0;
}

.align-items-center {
    align-items: center;
}

.banners {
    display: flex;
    justify-content: space-between;
    /*float: left;*/
}

.banner-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner01-text1 {
    position: absolute;
    right: 88px;
    top: 315px;
    font-family: 'Pacifico';
    font-weight: bold;
    font-size: 30px;
}

.banner01-button {
    position: absolute;
    right: 96px;
    top: 367px;
}

.button-shop-now {
    font-family: 'Montserrat-Regular', sans-serif;
    background-color: #8262b5;
    color: #ffffff;
    padding: 10px;
}

.text-banner-21 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #616161;
}

.text-banner-22 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}


.list-items {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    flex-wrap: wrap;
}

.product {
    position: relative;
    flex: 1 0;
    padding-bottom: 30px;
}

.product-title {
    font-size: 14px;
    font-family: "Montserrat-Bold";
}

.checked {
    color: orange;
}

.product-rating-star {
    display: flex;
}

.product-price {
    display: flex;
}

.product-price-orignal {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-decoration: line-through;
}

.product-price-discount {
    margin-left: 5px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #8262b5;
}

.product-add-cart {
    position: absolute;
    left: 5px;
    top: 283px;
    background: #ffffff;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.product-add-cart:hover {
    color: #8262b5;
    cursor: pointer;
}

.container__blog {
    /*height: 708px;*/
    background-image: url("../img/my_bg.jpg");
}

.blog-title {
    margin-top: 50px;
}

.blog-title-1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #8262b5;
    letter-spacing: 5px;
    font-size: 12px;
    padding-top: 100px;
}


.blog-title-2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;
    margin-top: 20px;
}

.blog-posts {
    display: flex;
    justify-content: space-between;
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 50px;
}

.post-container {
    position: relative;
    width: 360px;
    height: 408px;
    background-color: white;
}

.calendar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #a1d1dd;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 80%;
    height: 80%;
}

.month {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.date {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.post-card {
    position: absolute;
}

.post-title {
    margin-left: 20px;
    margin-top: 20px;
    word-wrap: normal;
    width: 315px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.post-description {
    margin-top: 10px;
    margin-left: 20px;
    word-wrap: normal;
    width: 315px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #424242;
}

.blog-interact {
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
}

.blog-comments {
    display: flex;
}

.blog-love {
    margin-left: 25px;
    display: flex;
}

.dot-slide {
    margin-top: 40px;
    padding-bottom: 40px;
    color: #616161;
    text-align: center;
    font-size: 10px;
    letter-spacing: 5px;
}

.dot {
    color: #8262b5;
    font-size: 14px;
}

footer {
    display: flex;
    background-color: #222222;
    padding-left: 95px;
    padding-right: 95px;
    justify-content: space-between;
}

footer div {
    width: 33.33%;
}

.title-footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.about p {
    word-break: break-all;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #616161;
}

.navigation-list {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.navigation-list ul {
    list-style-type: none;
}

.p-footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #616161;
}

a.p-footer {
    text-decoration: none;
}