* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    display: block;
    min-width: 100%;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/*@media (min-width: 768px) {*/
/*    .container {*/
/*        width: 750px;*/
/*    }*/
/*}*/

/*@media (min-width: 1280px) {*/
/*    .container {*/
/*        width: 1140px;*/
/*    }*/
/*}*/


.top-header {
    background-color: #222222;
    display: flex;
    padding: 15px 0 15px 28px;
    flex-wrap: wrap;
}

.top-header h5 {
    margin-right: auto;
}

.top-header a {
    text-decoration: none;
}

.top-header a {
    margin-right: 28px;
}

.header-top__right {
    display: flex;
    flex-wrap: wrap;
}

.container-banner {
    margin-top: 30px;
}

.header {
    display: block;
    left: 0;
    right: 0;
    padding-right: 32px;
    border-bottom: 1px solid #ddd;
}

@media (min-width: 1024px) {
    .header {
        padding-left: 32px;
    }
}

header {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1920px) {
    header {
        justify-content: normal;
    }
}

.nav-bar > i {
    font-size: 26px;
    padding: 10px;
}

.dropdown-menu {
    position: relative;
}

@media (min-width: 1024px) {
    .nav-bar {
        display: none;
    }
}

.dropdown-menu-content {
    background-color: #fff;
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    min-width: 200px;
}

.dropdown-menu-content a {
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 36px;
    color: #000000;
}

a img {
    display: block;
}

.col-lg-4 {
    flex: 0 0 15.3846153846%;
}

.col-lg-20 {
    flex: 0 0 76.9230769231%
}

.col-lg-2 {
    flex: 0 0 7.6923076923%
}

.main-menu {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
    .main-menu {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1920px) {
    .main-menu {
        padding-left: 85px;
        padding-right: 190px;
    }
}

.main-menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

@media (min-width: 1024px) {
    .main-menu nav {
        justify-content: space-between;
    }
}

.logo {
    align-items: center;
    top: 50%;
}

.logo h1 {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 0.8em;
    line-height: 0.75em;
    width: 200px;
    height: 40px;
}

nav a {
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #000000;
}

@media (min-width: 1024px) {
    nav a {
        padding-right: 10px;
    }
}

@media (min-width: 1280px) {
    nav a {
        padding-right: 25px;
    }
}

@media (min-width: 1920px) {
    nav a {
        padding-right: 56px;
    }
}

nav a:hover {
    color: #8262b5;
    cursor: pointer;
}

.header-right {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    margin-right: 0;
}

.header-right a {
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-right: 28px;
}

.search-container {
    position: relative;
    /*width: 250px;*/
}


.search-container input {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    border-radius: 45px;
    outline: none;
}

#search-box {
    display: none;
    width: 250px;
}

@media (min-width: 1024px) {
    #search-box {
        width: 150px;
    }
}

#search-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #d4d4d4;
    z-index: 99;
}

#search-items div {
    border-bottom: 1px solid #d4d4d4;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 16px;
}

#search-items div:hover {
    background-color: #d4d4d4;
    cursor: pointer;
}

.cart-wrapper {
    position: relative;
}

.cart {
}

.cart-dropdown {
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    min-height: 150px;
    width: 250px;
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: 1;
    text-align: center;
}

#btn-search {
    padding: 0;
    font-size: 14px;
    font-weight: 900;
    color: #000000;
}

.align-items-center {
    align-items: center;
}

.banner-img-1 {
    max-width: 100%;
}

.banner-img-2 {
    max-width: 100%;
}

.banner-img-3 {
    max-width: 100%;
}

.banners {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 800px) {
    .banners {
        flex-wrap: nowrap;
    }
}

.banner-left {
    flex: 1 80%;
}

@media (min-width: 800px) {
    .banner-left {
        margin-right: calc(30 * 100% / 1140);
        flex: 1 calc(750 * 100% / 1140);
    }
}

.banner-right {
    display: none;
    flex: 1 80%;
    flex-direction: column;
    flex-wrap: nowrap;
}

@media (min-width: 800px) {
    .banner-right {
        display: flex;
        flex: 1 calc(360 * 100% / 1140);
    }
}

.banner-right-top {
    flex: 1 calc(200 * 100% / 560);
}

@media (min-width: 800px) {
    .banner-right-top {
        margin-bottom: calc(40 * 100% / 560);
    }
}

.banner-right-bottom {
    flex: 1 calc(330 * 100% / 560);
    /*align-self: end;*/
}

.banner01-text1 {
    position: absolute;
    right: calc(95 * 100% / 750);
    top: calc(305 * 100% / 560);
    font-family: 'Pacifico', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.banner01-button {
    position: absolute;
    right: 12.8%;
    top: 65.5%;
}

.button-shop-now {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #8262b5;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 106px;
    height: 40px;
}

.banner03-button {
    position: absolute;
    left: 11.1%;
    top: 53%;
}

.banner__text-title {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #616161;
    letter-spacing: 0.2em;
    position: absolute;
}

.title-banner-2 {
    left: 15.3%;
    top: 42.5%
}

.subtitle-banner-2 {
    left: 15.3%;
    top: 50.5%;
}

.title-banner-3 {
    left: 11.1%;
    top: 36.4%
}

.subtitle-banner-3 {
    left: 11.1%;
    top: 42%;
}

.banner__text-subtitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    position: absolute;
}


.list-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -1.228%;
    /*margin-bottom: -0.73%;*/
}

.product {
    flex: 1 80%;
    margin: 1.228% 1.228% 1.65%;
}

@media (min-width: 320px) {
    .product {
        flex: 1 80%;
    }
}

@media (min-width: 425px) {
    .product {
        flex: 1 44%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product {
        flex: 1 30%;
    }

    .list-items .product:first-child, .list-items .product:nth-child(2) {
        flex: 1 45%;
    }
}

@media (min-width: 1024px) {
    .product {
        flex: 1 22% !important;
    }
}

/*.product-container {*/
/*    display: block;*/
/*}*/

.product-img {
    position: relative;
}

.product-img img {
    width: 100%;
}

.product-desc {
    margin-top: 12px;
}

.product-title {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.857;
    font-weight: 700;
    height: 26px;
}

.product-title a {
    text-decoration: none;
    color: #000;
}

.fa-star {
    font-size: 14px;
}

.checked {
    color: #f8bf15;
    font-weight: 900;
}

.unchecked {
    color: #d7d7d7;
}

.product-rating-star {
    display: flex;
    height: 26px;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.product-price {
    display: flex;
    height: 26px;
}

.product-price-orignal {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    text-decoration: line-through;
    font-weight: 500;
    height: 26px;
}

.product-price-discount {
    margin-left: 5px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #8262b5;
}

.product-img-container {
    position: relative;
}

.product-add-cart {
    position: absolute;
    left: 5px;
    bottom: 5px;
    background: #fff;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 12px;
    width: 118px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-add-cart:hover {
    color: #8262b5;
    cursor: pointer;
}

.container__blog {
    /*height: 708px;*/
    margin-top: 75px;
    background-image: url("../img/my_bg.jpg");
    background-size: cover;
}

.title {
    margin-top: 50px;
}

.blog-title-1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #8262b5;
    letter-spacing: 5px;
    font-size: 12px;
    padding-top: 100px;
}


.blog-title-2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;
    margin-top: 20px;
}

.blog-posts {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    /*margin-left: auto;*/
}

.slides {
    display: flex;
    justify-content: center;
    margin-right: -24px;
}

.post-container {
    position: relative;
    width: 360px;
    height: 408px;
    background-color: white;
    margin-right: 24px;
}

.calendar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #a1d1dd;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 80%;
    height: 80%;
}

.month {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.date {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.post-card {
    position: absolute;
}

.post-title a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #000;
}

.post-title a:hover {
    color: #8262b5;
}

.post-description {
    margin-top: 10px;
    margin-left: 20px;
    word-wrap: normal;
    width: 315px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    color: #424242;
}

.divider-desc-blog {
    border: 1px solid #ededed;
    margin-top: 16px;
}

.blog-interact {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    color: #c4c4c4;
    font-size: 14px;
}

.blog-comments {
    display: flex;
}

.blog-comments span, .blog-love span {
    margin-left: 5px;
}

.blog-love {
    margin-left: 28px;
    display: flex;
}

.prev-slide, .next-slide {
    position: absolute;
    top: 50%;
    display: none;
}

.prev-slide {
    left: 0px;
}

.prev-slide:hover, .next-slide:hover {
    color: white;
    background-color: black;
}

.next-slide {
    right: 0;
}

.dot-slide {
    margin-top: 16px;
    padding-bottom: 68px;
    color: #b3a6c8;
    text-align: center;
    font-size: 10px;
    letter-spacing: 5px;
}

.dot-active {
    color: #8262b5;
    font-size: 14px;
}

.footer {
    background-color: #222222;
    padding-top: 55px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 320px) {
    footer {
        justify-content: left;
    }
}

@media (min-width: 1024px) {
    footer {
        justify-content: space-between;
    }
}

footer > .container {

}

footer.container {

}

.about, .navigation, .location {
    margin-bottom: 35px;
}

.title-footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.social {
    /*position: absolute;*/
    display: flex;
    flex-wrap: wrap;
    height: 65px;
    align-items: flex-end;
    /*bottom: 12px;*/
    /*left: 0;*/
    font-size: 16px;
    padding-bottom: 10px;
}

.social i {
    /*float: left;*/
    color: #616161;
    margin-right: 30px;
}

.about {
    width: 260px;
    position: relative;
}

.navigation {
    width: 360px;
}

.navigation ul:nth-child(2) {
    left: 50%;
}

.location {
    width: 260px;
}

.location table {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #616161;
    line-height: 31px;
    vertical-align: center;
}

.divider-footer {
    background: #393939;
    height: 1px;
    margin: 25px 0 22px 0;
}

.divider-footer-end {
    background: #393939;
    height: 1px;
    margin: 2px 0 22px 0;
}

.about p {
    word-break: break-all;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #616161;
    line-height: 25px;
}

.divider-title-btm {
    width: 50px;
    height: 1px;
    background-color: #8262b5;
    margin-top: 20px;
    margin-bottom: 48px
}

.mg-center {
    margin-left: auto;
    margin-right: auto;
}

.pd-top-76 {
    padding-top: 71px;
}

.mg-top-16 {
    margin-top: 13px;
}

.text-center {
    text-align: center;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #616161;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 24px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #8262b5;
    letter-spacing: 0.5em;
    font-size: 12px;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

h6 {
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    word-wrap: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    /*width: 300px;*/
}

.navigation-list ul {
    list-style-type: none;
    flex: 1;
}

.nav-item {
    line-height: 29px;
}

.partner {
    font-size: 20px;
    line-height: 31px;
}

.nav-item a:hover, .hotline:hover, .mail-adrr:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

a i {
    text-decoration: none;
    color: #888;
}

a i:hover {
    color: #f0f0f0;
}

a {
    text-decoration: none;
    color: inherit;
}

td a {
    text-decoration: none;
    color: #616161;;
}

.p-footer {
    /*display: flex;*/
    /*align-items: center;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #616161;
}

a.p-footer {
    text-decoration: none;
    width: 100%;
}

td.p-footer {
    padding-left: 10px;
}

.copyright {
    color: #616161;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.copyright i {
    color: red;
}

.copyright a {
    color: #c4c4c4;
    text-decoration: none;
}

.footer-btm {
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
}

.footer-btm p {

}

.footer-btm div {
    font-size: 20px;
    color: #999999;
}